#container-mapa {
	position: relative;
	width: 100%;
	height: auto;
}

#img-mapa {
	width: 100%;
	height: auto;
	border-radius: 25px;
}
.imagen-carrusel {
	border-radius: 25px;
}

.punto-rojo {
	position: absolute;
}
.etiqueta-atraccion{	
	height: 30px;
	width: auto;
}

.img-card-atraccion {
    width : 100%;
	height: auto;
}

.img-circular {
	border-radius: 50%;
	height: 100;
	width: auto;
}